* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}
section{
    width:100%;
    margin:0;
}

.container {
    width: 85%;
    margin: auto;
}

/* HEADER */
header {
    background: #0a3d62;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    margin-top: 8px;
}

/* ABOUT SECTION */
.about {
    
    display: flex;
    gap: 30px;
    align-items: center;
    background:#e6b8a2;
    
    padding: 60px 0;
}

.about-img img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.about-text {
    max-width: 500px;
}

.about-text h2 {
    margin-bottom: 10px;
}

/* SKILLS */
.skills {
    background: #b48fcf;
    padding: 60px 0;
}

.skill-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    background: #ffffff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* PROJECTS */
.projects {
    
    background:#9fcfb8;
    padding:60px 0;
    
    
}

.project-grid {
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
   
   
}

/* CONTACT */
.contact {
    background: #0c2461;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}